# Ignore environment files
backend/.env

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build output
dist/
dist-ssr/

# Ignore editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?