 /* Cities Section */
 .cities-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 20px;
   background-color:#212529 ;
   color: #f8f9fa;
   text-transform: capitalize;
  top: 50%;
  left: 50%;
 
}


/* Elegant Gradient Underline */
.cities-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background: linear-gradient(to right, #4c6fb1, #000000); /* Smooth color transition */
  margin: 10px auto 0;
  border-radius: 5px;
}
.cities-section {
  padding: 2rem 0;
  
  background-color: #212529;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  
}

.city-card {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.city-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.city-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #f8f9fa;
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  font-weight: bold;
}